 <!-- Sidenav -->
 <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <app-navbar></app-navbar>
  </nav>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
   <app-top-nav></app-top-nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <app-header></app-header>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      
      <router-outlet></router-outlet>
      <!-- Footer -->
      <app-footer></app-footer>
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->